/* SMALL PHONE */
@media screen and (max-width:300px) and (min-width:1px) {
  ul.menu {
    display: none;
  }
  
  .hbmenu {
    display: block;
  }
  
  .hblist {
    display: none;
  }
  
   .mb-icon {
    margin-right: 15px;
    position: relative;
    top: 0px;
    display: inline-block;
  }
}
/* SToopidPHONE */

@media screen and (max-width: 413px) and (min-width:410px){
  ul.menu {
    display: none;
  }
  
  .hbmenu {
    display: inline-block;
    cursor: pointer;
    float: none;
    margin: 50px auto 0;
    width: 100%;
  }
  
  .logo {
    width: 168px;
    height: 130px;
    background-image: url(../img/whitelogo.png);
    display: block;
    float: left;
  }
  
  .hblist {
    position: relative;
    z-index: -10;
    margin-top: 20px;
    display: none;
  }
  
  .mba {
  text-decoration: none !important;
  list-style-type: none;
  color: #000;
  display: inline-block;
    width: 91%;
}
  
  .hbmenuitem {
    opacity: 0;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #000;
    background-color: greenyellow;
    transition: opacity .5s ease;
  }
  .showItem {
    opacity: 1;
    transition: opacity .5s ease; 
  }

  .hbmenuitem:active {
    background-color: #9be52a;
  }  

  .mb-icon {
    margin-right: 15px;
    position: relative;
    top: 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .show {
    display: block;
    z-index: 100;
  }
  
  .page-head {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    word-spacing: 6px;
    margin-top: 30px;
    font-size: 25px;
  }
  
  .portcontainer {
    width: 100%;
    height: auto;
  }
  
  .portimg {
    width: 340px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .row {
    width: 342px;
    display: block;
    margin: 0 auto;

  }
  .row-one-img{

    display: block;
    position: relative;
  }
  
  .row-two-img{
     display: block;
    position: relative;
  }
  .img_hover {
    opacity: 0;
    display: block;
    position: absolute;
     top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    
  }
  
  .img_hover h2 {
    margin-top: 80px;
    color: white;
    text-align: center;
  }
  
  .img_hover p {
    color: white;
    text-align: center;
  }
  
  .print:focus .img_hover {
    opacity: 1;
    background: rgba(16, 16, 15, 0.5);
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    
  }
}

/* SMARTPHONE */

@media screen and (max-width: 375px) and (min-width:301px){
  ul.menu {
    display: none;
  }
  
  .hbmenu {
    display: inline-block;
    cursor: pointer;
    float: none;
    margin: 50px auto 0;
    width: 100%;
  }
  
  .logo {
    width: 168px;
    height: 130px;
    margin: 0 70px auto;
    background-image: url(../img/whitelogo.png);
    display: block;
    float: left;
  }
  
  .hblist {
    position: relative;
    z-index: -10;
    margin-top: 20px;
    display: none;
  }
  
  .mba {
  text-decoration: none !important;
  list-style-type: none;
  color: #000;
  display: inline-block;
  width: 90%;
}
  
  .hbmenuitem {
    opacity: 0;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #000;
    background-color: greenyellow;
    transition: opacity .5s ease;
  }
  .showItem {
    opacity: 1;
    transition: opacity .5s ease; 
  }

  .hbmenuitem:active {
    background-color: #9be52a;
  }  

  .mb-icon {
    margin-right: 15px;
    position: relative;
    top: 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .show {
    display: block;
    z-index: 100;
  }
  
  .page-head {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    word-spacing: 6px;
    margin-top: 30px;
    font-size: 25px;
  }
  
  .portcontainer {
    width: 100%;
    height: auto;
  }
  
  .portimg {
    width: 340px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .row {
    width: 342px;
    display: block;
    margin: 0 auto;

  }
  .row-one-img{

    display: block;
    position: relative;
  }
  
  .row-two-img{
     display: block;
    position: relative;
  }
  .img_hover {
    opacity: 0;
    display: block;
    position: absolute;
     top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    
  }
  
  .img_hover h2 {
    margin-top: 80px;
  }
  
  .print:focus .img_hover {
    opacity: 1;
    background: rgba(16, 16, 15, 0.5);
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    
  }
}

/* IPAD */

@media screen and (max-width: 769px) and (min-width:750px){
  ul.menu {
    display: none;
  }
  
  .hbmenu {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 50px;
    text-align: right;
    width: 10%;
  }
  
  .logo {
    width: 168px;
    height: 130px;
    margin: 0 70px auto;
    background-image: url(../img/whitelogo.png);
    display: block;
    float: left;
  }
  
  .hblist {
    position: relative;
    z-index: -10;
    margin-top: 20px;
    display: none;
  }
  
  .hbmenuitem {
    opacity: 0;
    width: 100%;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #000;
    background-color: greenyellow;
    transition: opacity .5s ease;
  }
  .showItem {
    opacity: 1;
    transition: opacity .5s ease; 
  }
  
  .mba {
  text-decoration: none !important;
  list-style-type: none;
  color: #000;
  display: inline-block;
  width: 90%;
}
  
   .mb-icon {
    margin-right: 15px;
    position: relative;
    top: 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .hbmenuitem:active {
    background-color: #9be52a;
  }  

  .show {
    display: block;
    z-index: 100;
  }
  
  .page-head {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    word-spacing: 6px;
    margin-top: 30px;
    font-size: 40px;
  }
  
  .portcontainer {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .portimg {
    width: 340px;
    margin: 0 auto 20px;
    display: block;
  }
  
/*
  .handrender {
    margin-top: -200px;
  }
*/.row {
    width: 342px;
    display: block;
    margin: 0 auto;

  }
  .row-one-img{

    display: block;
    position: relative;
  }
  
  .row-two-img{
     display: block;
    position: relative;
  }
  .img_hover {
    opacity: 0;
    display: block;
    position: absolute;
     top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    
  }
  
  .img_hover h2 {
    margin-top: 80px;
  }
  
  .print:hover .img_hover {
    opacity: 1;
    background: rgba(16, 16, 15, 0.5);
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    
  }
}

/*COLLEGE MACS AND BIG SCREENS*/

@media screen and (min-width: 1919px) and (max-width:2000px){
  .hblist{
    display: none;
  }
  
  .print {
    width: 342px;
    height: auto;
    float: left;
  }
  
  
  .row {
    width: 100%;
    height: 484px;
    display: block;
    margin-left: 339px;
    margin-top: 50px;

  }
  
  .row-one-img{
    margin-left: 50px;
    display: block;
    position: relative;
  }
  
  .row-two-img{
    margin-left: 50px;
     display: block;
    position: relative;
  }
  
  .advert {
    margin-top: -200px;
  }
  
   .manip1 {
    margin-top: -35px;
  }
  
   .manip2 {
  }
  
  .img_hover {
    opacity: 0;
    display: block;
    position: absolute;
     top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    
  }
  
  .img_hover h2 {
    margin-top: 80px;
  }
  
  .print:hover .img_hover {
    opacity: 1;
    background: rgba(16, 16, 15, 0.5);
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    
  }
  
}
