body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  
}

/* Body font */

nav,main,article,section,p,a{
 font-family: 'Oswald', sans-serif; 
}

/* NAVIGATION BAR */

nav {
  margin-top: 50px;
  width: 100%;
  height: 140px;
  padding: 0;
}

.logo {
    width: 168px;
    height: 130px;
    margin-top: 5px;
    margin-left: 100px;
    transition: background-image 0.5s ease-in-out;
    background-image: url(../img/whitelogo.png);
    display: block;
    float: left;
}

.logo:hover {
  background-image: url(../img/greylogo.png);
  cursor: pointer;
}

.menu {
  height: 30px;
  width: 600px;
  float: right;
  margin-right: 100px;
  color: white;
  margin-top: 55px;
}

.menuitem {
  font-family: 'Anton', sans-serif;
  margin-right: 78px;
  text-decoration: none;
  font-size: x-large;
}

.hbmenu {
  display: none;
  width: 100%;
  text-align: center;
}

.bar {
  width: 50px;
    height: 8px;
    background-color: white;
    margin: 3px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   display: block;
}

ul.menu li {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul.menu a {
  color: white;
}

ul.menu a:hover {
  color: greenyellow;
  cursor: pointer;
}


.clearfix {
  clear: both;
}

/* HAMBURGER MENU */
.bar1, .bar2, .bar3 {
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.mb-icon {
    display: none;
  }


/*MAIN PAGE STYLING GOES HERE*/

.page-head {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    word-spacing: 6px;
    font-size: 40px;
}

/*
.img_hover{
  opacity:0;
  width:100%;
  height:100%;
  display: block;
  position:absolute;
  top:0;
  left:0;
  z-index: 99;

}


.img_hover:hover{
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: rgba(16, 16, 15, 0.5);
  padding:0;
  margin: 0;
  z-index:99;
}

.img_hover h3{
    padding-top: 13%;
    font-size: 2em;
    font-weight: 300;
  color: white;
}
*/
